/* Main Container */
.returns-container {
  padding: 80px 20px;
  background-color: #fff;
}
.returns-heading-container {
  margin: 0 auto;
  width: 60vw;
  padding: 30px 0px;
}
.returns-heading {
  font-size: 4rem;
  color: #bb976d;
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.returns-description {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.6;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* returns Content */
.returns-content {
  font-size: 14px;
  color: #332f2c;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  padding: 20px 50px;
}

/* Each returns Section */
.returns-item {
  padding: 15px;
}

/* Section Title */
.returns-item h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: 700;
}

/* Section Description */
.returns-item p {
  font-size: 1.1rem;
  text-align: left;
  text-transform: capitalize;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  width: 100%;
  font-size: 1rem;
  color: #6c757d;
}

/* Responsive */
@media (max-width: 768px) {
  .returns-title {
    font-size: 2rem;
  }

  .returns-item h2 {
    font-size: 1.5rem;
  }

  .returns-item p {
    font-size: 1rem;
  }
}
