/* Container */
.shop-by-product-container {
  display: flex;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Sidebar Tabs */
.product-tabs {
  width: 20%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-right: 1px dashed #ddd;
  height: 100vh;
}

.product-tab {
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
  text-transform: uppercase;
  font-family: "IBM Plex Sans", sans-serif;
}

.product-tab.active {
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
}

/* Content Section */
.product-content {
  flex: 1;
  overflow: hidden; /* Prevent internal scrolling */
  position: relative;
  height: 100%; /* Ensure it covers the full viewport height */
  margin-bottom: 20px;
}

.product-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "IBM Plex Sans", sans-serif;
}

/* Image Grid */
.product-images-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-image-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: 1px dashed #ddd;
  border-right: 1px dashed #ddd;
}
.product-shop-all {
  width: 100%;
  height: 100%;
  min-height: 268px;
  border-bottom: 1px dashed #ddd;
  border-right: 1px dashed #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  /* text-decoration: underline; */
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
}
.product-shop-all h2 {
  font-size: 3rem;
  color: #7f9c90;
  margin-bottom: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: lowercase;
}

.product-image-box img {
  width: 100%;
  object-fit: cover; /* Ensures image covers the full area */
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.product-image-box img:hover {
  transform: scale(1.1);
}

.product-image-box p {
  font-size: 14px;
  position: absolute;
  left: 10px; /* Adjust left padding */
  bottom: -15px;
  transform: translateY(-50%);
  color: #333;
  z-index: 2;
  max-width: 90%;
  font-weight: 500;
  text-align: start;
  text-transform: capitalize;
  white-space: nowrap; /* Keeps text in a single line */
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "IBM Plex Sans", sans-serif;
}

/* Responsive */
@media (max-width: 768px) {
  .shop-by-product-container {
    flex-direction: column;
  }

  .product-tabs {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
  }

  .product-tab {
    flex: 1;
    text-align: center;
  }

  .product-images-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.brand-section {
  text-align: center;
  padding: 40px 100px;
  background-color: #fff;
  max-width: 90%;
}
.brand-section img {
  width: 100%;
  max-width: 160px;
  height: auto;
  margin-bottom: 20px;
}
.brand-description {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.6;
  font-family: "IBM Plex Sans", sans-serif;
}
