/* Main Container */
.terms-container {
  padding: 80px 20px;
  background-color: #fff;
}
.terms-heading-container {
  margin: 0 auto;
  width: 60vw;
  padding: 30px 0px;
}
.terms-heading {
  font-size: 4rem;
  color: #bb976d;
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
  font-family: Laurentian, serif;
}
.terms-description {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.6;
  text-align: center;
  font-family: Laurentian, serif;
}
/* Terms Content */
.terms-content {
  font-size: 14px;
  color: #332f2c;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  padding: 20px 50px;
  font-family: Laurentian, serif;
}

/* Each Terms Section */
.terms-item {
  padding: 15px;
}

/* Section Title */
.terms-item h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: 700;
  font-family: Laurentian, serif;
}

/* Section Description */
.terms-item p {
  text-align: left;
  text-transform: capitalize;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  width: 100%;
  font-size: 1rem;
  color: #6c757d;
  font-family: Laurentian, serif;
}

/* Responsive */
@media (max-width: 768px) {
  .terms-title {
    font-size: 2rem;
    font-family: Laurentian, serif;
  }

  .terms-item h2 {
    font-size: 1.5rem;
    font-family: Laurentian, serif;
  }

  .terms-item p {
    font-size: 1rem;
    font-family: Laurentian, serif;
  }
}
