.material-integrity {
  text-align: center;
  padding: 80px 20px;
  background-color: #fff;
}

.container-material-integrity {
  margin: 0 auto;
  width: 45vw;
}

.title-material-integrity {
  font-size: 4rem;
  color: #bb976d;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.description-material-integrity {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Container layout */
.shop-container {
  width: 100%;
  border-top: 1px dashed #ddd;
  padding: 0 9% 80px;
  display: flex;
  justify-content: space-between;
}

/* Left Section - Shop by Material */
.materials-list {
  width: 30%;
  padding: 20px 5px;
  border-right: 1px dashed #ddd;
}

.materials-list h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 4px;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
}

.materials-list ul {
  list-style: none;
  padding: 0;
}

.materials-list li {
  line-height: 2.5;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-size: 12px;
  cursor: pointer;
}
.materials-list li:hover {
  text-decoration: underline;
}

/* Right Section - Product Display */
.product-display {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Product Item - Each section for an item */
.product-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom: 1px dashed #ddd;
}
/* Text Section: Center Left */
.product-info {
  position: absolute;
  left: 50px; /* Adjust left padding */
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  z-index: 2;
  width: 15vw;
}

.product-info h2 {
  font-size: 2rem;
  color: #222;
  font-weight: 300;
}

.product-info p {
  color: #555;
  font-size: 0.8rem;
}

/* Image Section */
.product-image {
  width: 100%;
  height: 100%;
  border-right: 1px dashed #ddd;
  overflow: hidden;
  position: relative;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers the full area */
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.product-image img:hover {
  transform: scale(1.1);
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
  .shop-container {
    flex-direction: column;
  }

  .materials-list {
    width: 100%;
    text-align: center;
    border-right: none;
    border-bottom: 1px dashed #ddd;
  }

  .product-display {
    width: 100%;
  }
}
