/* Container */
.product-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px 80px;
  align-items: start;
  margin-top: 100px;
}

/* Right Side - Product Info */
.product-details-info {
  flex: 1;
  padding: 40px 0px;
  text-align: center;
  position: relative;
}

.product-details-title {
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: 0px;
  font-family: Canela, sans-serif;
  font-weight: 300;
  color: #332f2c;
  transition: color 0.2s ease-in-out;
}

.product-details-price {
  font-size: 20px;
  margin: 22px 0;
}

.new-details-price {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 3px;
  color: black;
}

.old-details-price {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 3px;
}

.our-value {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: none;
  padding: 0;
  overflow: visible;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.our-value:hover {
  text-decoration: underline;
}

/* Fabric Section */
.fabric-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0;
  padding: 20px 0;
  margin-bottom: 20px;
  border-top: 1px solid #dad4cb;
  border-bottom: 1px solid #dad4cb;
  gap: 16px;
}
.fabric-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.fabric-label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.fabric-option {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  border: 1px solid #d2c4b8;
  border-radius: 50%;
}

.fabric-section .fabric-option button {
  background-color: #d2c4b8;
  width: 20px;
  height: 20px;
  margin: 4px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  border: none;
}
.fabric-section .fabric-option1 button {
  background-color: #7f9c90;
  width: 20px;
  height: 20px;
  margin: 4px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  border: none;
}
.fabric-section .fabric-option2 button {
  background-color: #38373d;
  width: 20px;
  height: 20px;
  margin: 4px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  border: none;
}
.fabric-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 16px;
}
.fabric-name {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #332f2c;
  flex-shrink: 0;
  padding-right: 2px;
}
.stock-check {
  border-radius: 50%;
  border: 1px solid #d2c4b8;
  height: 12px;
  width: 12px;
  text-align: center;
  font-size: 8px;
  color: #d2c4b8;
}
.product-stock {
  display: flex;
  align-items: inherit;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #332f2c;
  text-align: left;
  gap: 5px;
}
/* Quantity & Add to Cart */
.cart-details-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.quantity {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 15px;
}

.quantity button {
  background: none;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
}

.quantity span {
  margin: 0 10px;
  font-size: 16px;
}

.add-to-cart-details {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  padding: 18px 10px;
  background-color: #f4f1ee;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: normal;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: normal;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.add-to-cart-details:hover {
  background-color: rgb(187, 151, 109);
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }

  .product-details-image,
  .product-details-info {
    width: 100%;
  }

  .cart-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .quantity {
    margin-bottom: 10px;
  }
}

.product-slider-container {
  flex: 1; /* Allow it to take available space */
  max-width: 60%; /* Adjust width to fit the left half */
  padding: 0px 20px;
  border-radius: 8px;
}

.product-slider {
  width: 100%;
  height: 450px; /* Adjust height as needed */
}

.product-slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.thumbs-slider {
  display: flex;
  flex-wrap: wrap; /* Allow thumbnails to wrap */
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.thumbs-slider .swiper-slide {
  width: 160px;
  height: 160px;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

.thumbs-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.thumbs-slider .swiper-slide-thumb-active {
  border-color: #f4f1ee;
}

/* Container Styling */
.product-meta-container {
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #f4f1ee;
}

/* Button */
.top-button {
  text-align: center;
  margin: 40px;
}

.top-button button {
  padding: 10px 20px;
  border: none;
  /* border-bottom: 1px solid black; */
  color: black;
  cursor: pointer;
  background-color: #f4f1ee;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  position: relative;
  min-width: 120px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Content Wrapper */
.content-wrapper {
  display: flex;
  padding: 20px 40px;
}

/* Left Section (Tabs + Content) */
.left-section {
  flex: 1;
  padding: 40px 60px 40px 0px;
  border-right: 1px solid #ddd;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 20px;
  padding-bottom: 5px;
}

.tab-button {
  color: gray;
  border: none;
  background: none;
  cursor: pointer;
  padding-bottom: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.tab-button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: black; /* Underline effect */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.tab-button:hover::after {
  width: 100%;
  left: 0;
}

.tab-button:hover {
  color: #38373d;
}

.tab-button.active {
  color: black;
  font-weight: 500;
  border-bottom: 1px solid black;
}

.tab-button.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
}

/* Tab Content */
.tab-content {
  margin-top: 15px;
  border-left: 1px solid #ddd;
  padding: 4px 16px;
}

.tab-content ul {
  padding-left: 20px;
  list-style-type: disc;
  line-height: 21.96px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #4d4a47;
  font-weight: 100;
}
.tab-content ul li {
  margin-bottom: 5px;
}

.tab-content p {
  line-height: 21.96px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #4d4a47;
  font-weight: 100;
}

/* Right Section (Dimensions Table) */
.right-section {
  flex: 1;
  padding: 60px 0px 60px 60px;
}

.right-section h2 {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-right: 40px;
  margin-bottom: 10px;
}

.right-section table {
  width: 100%;
  border-collapse: collapse;
}

.right-section td {
  border: 1px solid #ddd;
  width: 50%;
  padding: 15px 20px;
}

.right-section td div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.right-section td div span:first-of-type {
  line-height: 21.96px;
  font-weight: 100;
  color: #4d4a47;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left: 5px;
}
.right-section td div span:last-of-type {
  margin-left: auto;
  line-height: 1.4;
  letter-spacing: normal;
  font-size: 20px;
}

.right-section .bold {
  font-weight: bold;
}

.banner-image {
  width: 100vw;
  height: 100vh;
  background: url(https://cld.accentuate.io/8825401639165/1740001189230/eta-seaside-main_.jpg)
    no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.product-page-container1 {
  padding: 50px;
  background: #f9f6f2;
}
.inner-div {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 90vh;
  width: 100%;
}

.product-image-page {
  max-width: 45vw;
  height: auto;
}

.product-image-page img {
  max-width: 100%;
  max-height: 90vh;
  height: auto;
}

.product-details {
  max-width: 45vw;
  height: auto;
  padding: 50px;
  text-align: center;
}

.product-category {
  color: #888;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
}

.fabric-section1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0;
  padding: 15px 0;
  margin-bottom: 20px;
  border-top: 1px solid #dad4cb;
  border-bottom: 1px solid #dad4cb;
  gap: 16px;
}

.product-title {
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: 0px;
  font-family: Canela, sans-serif;
  font-weight: 300;
  color: #332f2c;
  transition: color 0.2s ease-in-out;
}

.product-price {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 3px;
}

.product-link {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: none;
  padding: 0;
  overflow: visible;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-top: 10px;
  width: 100%;
  color: #332f2c;
  text-decoration: none;
}

.product-link:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-page-container1 {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .product-actions {
    justify-content: center;
  }
}

.payment-cart-info {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
  gap: 10px;
  text-align: left;
}

.payment-cart-info p {
  font-size: 14px;
  color: #555;
  margin: 0;
  flex: 1;
}

.more-cart-options {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

.more-cart-options:hover {
  text-decoration: underline;
}

.tabby-cart-logo {
  height: 30px;
  width: auto;
}

.tabby-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

/* Responsive */
@media (max-width: 480px) {
  .payment-cart-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .more-cart-options {
    margin-top: 5px;
  }
}
