@font-face {
  font-family: "July It";
  src: url("/July-it.ttf") format("truetype"); /* Adjust the path */
  font-weight: normal;
  font-style: normal;
}

/* Start Video Section */

.heroContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Adjust opacity (0.5 = 50% darkness) */
  z-index: 1; /* Places it above the video */
}

/* Video Styling */
.heroVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures video covers the area */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Fallback Image */
.heroImage {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay Content */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.heroSubtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.btn-lg {
  padding: 12px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.btn-lg:hover {
  background: #38373d;
  color: white;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .heroTitle {
    font-size: 2.5rem;
  }

  .heroSubtitle {
    font-size: 1.2rem;
  }

  .btn-lg {
    font-size: 1rem;
  }

  /* .heroVideo {
        display: none;
      } */

  .heroImage {
    display: block;
  }
}

/* End Video Section */

/* Start Header Section */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 20px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease-in-out;
  box-sizing: border-box;
}

.navbarHover {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbarTransparent {
  /* background: transparent; */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2),
    0px 6px 30px rgba(0, 0, 0, 0.3);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 20px 0px 10px; /* Reduced padding for better responsiveness */
  flex-wrap: wrap;
}

/* Logo */
.logo a {
  text-decoration: none;
}

.logoImage {
  height: auto;
  width: 240px;
}

/* Navigation Links */
.navContainer {
  display: flex;
  justify-content: center;
}

.navLinks-header {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navLinks-header li {
  position: relative;
}

.navLinks-header li a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease-in-out;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Underline effect */
.navLinks-header li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: #bb976d;
  transition: width 0.3s ease-in-out;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.active-link {
  border-bottom: 3px solid #bb976d;
}

/* Show underline on hover */
.navLinks-header li a:hover::after {
  width: 100%;
}

/* Text color change on hover */
.navbarHover .navLinks-header li a,
.navbarHover .logo a {
  color: #38373d !important;
}

.navbarTransparent .navLinks-header li a,
.navbarTransparent .logo a {
  color: white;
}

/* Navbar Icons */
.navIcons {
  display: flex;
  gap: 15px;
}

.navIcons img {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.2s, color 0.3s ease-in-out;
}

.navIcons img:hover {
  transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 0px 10px;
  }

  .logo {
    text-align: center;
    margin-bottom: 10px;
  }

  .navContainer {
    flex-direction: column;
    align-items: center;
  }

  .navLinks-header {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .navIcons {
    justify-content: center;
    gap: 10px;
  }
}

/* End Header Section */

/* Start Marquee Section */

.marqueeContainer {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #d6d2c4; /* Change to match image background */
  padding: 30px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.marqueeContent {
  display: flex;
  gap: 40px;
  width: max-content;
  color: #38373d;
  animation: marqueeScroll 15s linear infinite;
  font-size: 24px;
  line-height: 28.8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes marqueeScroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Stop animation on hover */
.marqueeContainer:hover .marqueeContent {
  animation-play-state: paused;
}

/* End marquee Section */

/* start product grid Section */

.productSection {
  padding: 50px 0;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
}
.productMore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.productCard {
  background: #fff;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.productCard:hover {
  transform: translateY(-10px);
}

.productImageWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.productImage {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.productName {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #38373d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.productPrice {
  margin-top: 10px;
  font-size: 13px;
  color: #38373d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.iconContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.productImageWrapper:hover .iconContainer {
  opacity: 1;
}

.iconWrapper {
  position: relative;
  cursor: pointer;
}

.iconWrapper i {
  font-size: 20px;
  color: #fff;
  background: rgba(187, 151, 109, 0.7);
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s;
}

.iconWrapper i:hover {
  color: #38373d;
  background: rgba(187, 151, 109, 0.7);
}

/* Popover Styling */
.popover {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(127, 156, 144, 0.8);
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: opacity 0.3s ease-in-out;
}

.popover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(56, 55, 61, 0.8) transparent transparent transparent;
}

/* End product grid Section */

/* start break section Section */

/* Hero Section */
.breakSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #f8f8f8;
}

/* Container for layout */
.breakContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  /* max-width: 1200px; */
}

/* Left Text Section */
.textSection {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
}

.textSection.visible {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

.subTitle {
  font-size: 40px;
  font-family: "July it", sans-serif;
  font-weight: 400;
  color: rgb(187, 151, 109);
}

.mainTitle {
  font-size: 62px;
  font-weight: 700;
  color: #38373d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  font-size: 16px;
  color: #3c474e;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.shopButton {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 0px;
  border: 1px solid rgb(127, 156, 144);
  color: rgb(127, 156, 144);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  z-index: 1;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Create the hover background effect */
.shopButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgb(127, 156, 144);
  transition: transform 0.4s ease-in-out;
  z-index: -1;
}

/* On hover, slide background in from the left and change text color */
.shopButton:hover {
  color: #fff;
  border-color: rgb(127, 156, 144);
}

.shopButton:hover::before {
  transform: translateX(100%);
}

/* Right Side Image Section */
.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.backgroundImage.active {
  opacity: 1;
}

/* end break section Section */

/* start informative and category section Section */

.informative-category-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 50px 0px; */
  overflow: hidden;
  background: #f9f9f9;
}

/* Image Wrapper */
.informative-category-section__image-container {
  width: 60%;
  overflow: hidden;
}

/* Image Styling */

.informative-category-section__image {
  width: 100%; /* Make image responsive */
  height: auto;
  display: block;
  transition: transform 1s ease-in-out;
  border-radius: 5px;
}
.informative-category-section__image:hover {
  transform: scale(1.1);
}

/* .informative-category-section__image--zoom-in {
      transform: scale(1.1);
    }
    
    .informative-category-section__image--zoom-out {
      transform: scale(1);
    } */

/* Text Content */
.informative-category-section__text-container {
  width: 40%;
  padding: 0px 20px 100px 60px;
}

.informative-category-section__title {
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.informative-category-section__description {
  font-size: 16px;
  color: #38373d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.informative-category-section__buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 20px;
}

.btn-custom {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #38373d;
  background-color: transparent;
  border: none; /* Removed border */
  padding: 10px 24px; /* Adjust padding */
  transition: all 0.3s ease-in-out;
  position: relative;
  min-width: 120px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-custom::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #bb976d; /* Underline effect */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.btn-custom:hover::after {
  width: 100%;
  left: 0;
}

.btn-custom:hover {
  color: #38373d;
}

/* Wrapper to position the image properly */
.informative-category-section__bottom-image-container {
  display: flex;
  justify-content: end; /* Centers the image horizontally */
  margin-top: 10vh; /* Adds space after the buttons */
  padding-left: 20px;
}

/* Styles for the last image */
.informative-category-section__bottom-image {
  width: 100%; /* Reduce width to make it vertical */
  border-radius: 5px;
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures proper image cropping */
}
.informative-category-section__bottom-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
/* Zoom effects */
/* .informative-category-section__bottom-image--zoom-in {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
    
    .informative-category-section__bottom-image--zoom-out {
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    } */

.image-with-text {
  position: relative;
  display: flex;
  justify-content: center; /* Center the image */
  align-items: center; /* Align vertically */
  width: 100%;
  max-width: 100%;
}
.overlay-text {
  position: absolute;
  bottom: 65%; /* Use percentage to keep text in position */
  left: 35%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust alignment */
  color: #38373d;
  padding: 10px 15px;
  font-size: clamp(12px, 1.5vw, 18px); /* Responsive font size */
  max-width: 40%; /* Responsive width */
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* end informative and category section Section */

/* Gallery Container */

/* Individual Images */
.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/*start partner section*/
.partner-section {
  display: flex;
  align-items: center;
  background-color: #1a1d23; /* Dark background */
  padding: 40px 20px;
  color: #fff;
  overflow: hidden; /* Prevents overlap */
}

/* Left Section: Top Brands Title */
.top-brands {
  width: 200px;
  padding: 0px 30px;
  flex-shrink: 0;
}

.top-brands-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top-brands-title::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 5px;
  height: 100%;
  border-radius: 5px;
}

.top-brands-description {
  font-size: 16px;
  color: #ccc;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Right Section: Marquee Wrapper */
.marquee-container {
  flex-grow: 1;
  overflow: hidden; /* Prevents overflow */
  white-space: nowrap;
  position: relative;
}
.vertical-line {
  width: 2px;
  height: 100px;
  background-color: black;
}
.marquee {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: marqueeScroll 50s linear infinite;
}

@keyframes marqueeScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Partner Logos */
.partner-logo {
  width: 150px;
  height: auto;
  filter: brightness(0) invert(1); /* White logo effect */
}

/*end partner section*/

/* start testimonial */
/* General Styles */
.testimonial-section {
  background-color: #38373d;
  color: white;
  padding: 50px 0;
  text-align: center;
  overflow: hidden;
}

/* Scrolling Wrapper */
.testimonial-wrapper {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 10px 0px;
}

.testimonial-slider {
  display: flex;
  gap: 30px;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Right to Left Animation */
.rtl .testimonial-slider {
  animation-name: scroll-rtl;
}

@keyframes scroll-rtl {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Left to Right Animation */
.ltr .testimonial-slider {
  animation-name: scroll-ltr;
}

@keyframes scroll-ltr {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

/* Testimonial Card */
.testimonial-card {
  width: 500px;
  background-color: #38373d;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
  white-space: normal;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

/* Content inside card */
.testimonial-content {
  display: flex;
  align-items: center;
}

/* Image */
.testimonial-img {
  width: 8rem;
  height: auto;
  /* border-radius: 50%; */
  object-fit: cover;
}

/* Text Content */
.testimonial-text {
  flex-grow: 1;
  padding: 0px 10px 0px 20px;
}

.testimonial-text h5 {
  font-size: 22px;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.testimonial-text .role {
  font-size: 16px;
  color: #bbb;
  margin: 2px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.testimonial-text .message {
  font-size: 16px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 4.5em;
  line-height: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Responsive Design */
@media (max-width: 768px) {
  .testimonial-card {
    width: 280px;
  }

  .testimonial-img {
    width: 60px;
    height: 60px;
  }

  .testimonial-text h5 {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .testimonial-text .message {
    font-size: 13px;
    max-height: 3.5em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

@media (max-width: 480px) {
  .testimonial-card {
    width: 250px;
    padding: 10px;
  }

  .testimonial-img {
    width: 50px;
    height: 50px;
  }

  .testimonial-text h5 {
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .testimonial-text .message {
    font-size: 12px;
    max-height: 3em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

/* end testimonial section*/

/* start Visit our showroom */
.visit-showroom-container {
  display: flex;
  padding: 0px 0px 40px;
  /* height: 100vh; */
}

.showroom-left {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 50px 50px 0px;
}

.small-text {
  font-size: 48px;
  font-family: "July it", sans-serif;
  font-weight: 400;
  color: rgb(127, 156, 144);
}

.big-text {
  font-size: 5rem;
  font-weight: 700;
  color: #38373d;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.rotating-image {
  display: inline-block;
  width: 60px;
  height: 60px;
}

@keyframes rotateImage {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.rotating-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotateImage 4s linear infinite;
}

/* Right Section */
.showroom-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mySwiper {
  width: 100%;
  height: 500px; /* Adjust height as needed */
}

.swiper-slide1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.swiper-slide1:hover .slide-image {
  transform: scale(1.1);
}

.swiper-pagination-bullet {
  background-color: white !important; /* Change to your preferred color */
  width: 10px; /* Adjust size */
  height: 10px;
  opacity: 1;
}

/* Change the active bullet color */
.swiper-pagination-bullet-active {
  background-color: #7f9c90 !important; /* Different color for active indicator */
}

.right-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.right-image:hover {
  transform: scale(1.1); /* Scales up the image slightly */
}
/*end visit our showroom*/

/*start news letter */

.newsletter-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f8f4ec;
  text-align: center;
}

/* Background text */
.background-text {
  position: absolute;
  font-size: 6vw;
  font-weight: bold;
  color: rgba(127, 156, 144, 0.3);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Subscription box */
.subscription-box {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  transition: transform 0.5s ease-out;
  z-index: 2;
}

/* Subscription box text */
.subscription-box p {
  font-size: 1rem;
  color: #38373d;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Animated border container */
.beam-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px 10px;
  width: 400px;
  background-color: #f8f4ec;
  margin: 2px;
  overflow: hidden;
  border-radius: var(--radius);
}
/* Input field */
.beam-container input {
  flex: 1;
  border: none;
  background: transparent;
  color: white;
  outline: none;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  border-radius: 25px;
}

/* Placeholder styling */
.beam-container input::placeholder {
  color: rgba(56, 55, 61, 0.5);
}

/* Border animation effect */
.loading-box-container::before {
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: conic-gradient(#7f9c90, #7f9c90, #7f9c90, #7f9c90);
  z-index: -1;
  top: -25%;
  left: 0%;
  padding: 10px;
  animation: rotate-border 5s linear infinite;
}

.loading-box-container {
  --size: 100%;
  --radius: 50px;
  position: relative;
  width: var(--size);
  height: var(--size);
  /* padding: var(--radius); */
  border-radius: var(--radius);
  overflow: hidden;
}

@keyframes rotate-border {
  to {
    transform: rotate(360deg);
  }
}

/* Button styling */
.beam-container button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  border: 1px solid rgb(127, 156, 144);
  color: rgb(127, 156, 144);
  text-decoration: none;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  z-index: 2;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.beam-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgb(127, 156, 144);
  transition: transform 0.4s ease-in-out;
  z-index: -1;
}

/* On hover, slide background in from the left and change text color */
.beam-container button:hover {
  color: #fff;
  border-color: rgb(127, 156, 144);
}

.beam-container button:hover::before {
  transform: translateX(100%);
}

/* Button hover effect */

/*end news letter */

/* start horizontal scrolling*/

/* General Styling */
html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
}

/* Container for Horizontal Scroll */
.container1 {
  width: 360vw; /* Reduce width to fit multiple cards */
  height: 100vh;
  display: flex;
  gap: 20px; /* Space between cards */
  position: relative;
}
.featured-categories {
  position: absolute;
  top: 9%;
  /* left: 50%; */
  transform: translateX(250%);
  text-align: center;
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 8px;
}
/* Card Panels */
.card {
  width: 40vw; /* Make each card smaller than full width */
  /* height: 80vh; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  /* padding: 2%; */
  position: relative;
  flex-shrink: 0;
  border: none;
}

.hero-content {
  margin: 20px;
}

.horizontal-scroll-title {
  font-size: 3rem;
  color: #7f9c90;
  margin-bottom: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Hero Images */
.hero-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image1 {
  width: 300px;
  height: auto;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}
.image1:hover {
  transform: scale(1.05);
}

.image2 {
  width: 200px;
  height: auto;
  position: absolute;
  bottom: -80px;
  left: 30px;
  border-radius: 5px;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}
.image2:hover {
  transform: scale(1.05);
}

/*end horizontal scrolling*/

/*start horizontal carousel*/
.carousel-container {
  overflow: hidden;
  text-align: center;
}
.carousel-wrapper {
  display: flex;
  overflow: hidden;
  cursor: grab;
}

.carousel-image {
  width: 550px;
  height: auto;
  padding-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.carousel-image:hover {
  transform: scale(1.1);
}
.image-text {
  width: 100%;
  text-align: left; /* Centers text */
  color: #38373d; /* Text color */
  margin: 20px 0px 0px 20px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.image-price {
  width: 100%;
  text-align: left; /* Centers text */
  color: #38373d; /* Text color */
  margin: 10px 0px 0px 20px;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tab-indicator {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  height: 3px;
  background: #ddd;
  cursor: pointer;
}
.tab-section {
  flex: 1;
  height: 3px;
  transition: background 0.3s ease-in-out;
}
.tab-section.active {
  background: #7f9c90;
}
.nav-buttons {
  position: absolute;
  right: -120px;
  display: flex;
  gap: 10px;
  margin-top: 0px;
}
.nav-buttons button {
  background: #7f9c90;
  color: white;
  border: none;

  border-radius: 50%;
  cursor: pointer;
}

.carousel-items div {
  position: relative; /* Ensure this is the reference for absolute positioning */
  overflow: hidden;
}

.add-to-cart {
  background: #7f9c90;
  color: white;
  padding: 8px 12px;
  width: 120px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 5.5vh;
  left: 25vw;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Apply hover on the entire div container */
.carousel-items div:hover .add-to-cart {
  opacity: 1;
  visibility: visible;
}
/*end horizontal carousel*/

/*start insta feed*/
/* Center the slider */
.carousel-container-instagram {
  padding: 40px 2px;
  background: #f3f2ee;
}
.curved-carousel-container {
  margin: auto;
  position: relative;
  overflow: hidden;
  padding: 0px;
}

/* Flickity slider */
.slider {
  width: 100%;
  overflow: hidden;
}

/* Owl Carousel */
.slider .owl-stage {
  display: flex;
  align-items: center;
}

/* Each image container */
.slider__el {
  width: 100%;
  position: relative;
}

/* Image wrapper */
.slider__img {
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

/* Image styling */
.slider__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/* Hover Effect */
.slider__img:hover img {
  transform: scale(1.1);
}

/* Curved Mask Effect */
.curved-carousel-container::before {
  content: "";
  position: absolute;
  left: -5%;
  top: 41px;
  width: 110%;
  height: 80px; /* Reduce height */
  /* background: white; */
  border-radius: 100%;
  z-index: 2;
  background-image: url(/gallery-overlay-start-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
.curved-carousel-container::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: -25px;
  width: 110%;
  height: 80px; /* Reduce height */
  /* background: white; */
  border-radius: 100%;
  z-index: 2;
  background-image: url(/gallery-overlay-end-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

/*end insta feed*/

/*start hotspot*/

.hotspot-container {
  position: relative;
  width: 100%;
  margin: auto;
}

.hotspot-image {
  width: 100%;
  height: auto;
  display: block;
}

.hotspot {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.hotspot-dot {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 5px solid #7f9c90;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hotspot.active .hotspot-dot {
  width: 100px;
  height: 100px;
  background-color: rgba(127, 156, 144, 0.4);
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 6px;
  border: none;
}

.hotspot-label {
  position: absolute;
  text-align: center;
}
/* end hotspot*/

/*start heading*/
.section-heading {
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.section-title {
  font-size: 56px;
  font-family: "July it", sans-serif;
  font-weight: 400;
  color: rgb(187, 151, 109);
}

.section-subtitle {
  font-size: 22px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #38373d; /* Darker shade for contrast */
}

/*end heading*/

/*start footer */
.container11 {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1200px) {
  .container11 {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container11 {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container11 {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container11 {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.footer {
  background-color: #38373d;
  color: #d6d2c4;
  padding: 40px 0;
}

.footer h4,
.footer h5 {
  color: #bb976d;
}

.footer p {
  font-size: 14px;
  margin-bottom: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.social-links li {
  list-style: none;
}

.social-links a {
  text-decoration: none;
  color: #d6d2c4;
  display: block;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #d6d2c4;
}

.footer-bottom {
  border-top: 1px solid #7f9c90;
  padding-top: 10px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*end footer*/

/*start marker carousel*/
.marker-carousel-container {
  width: 100%;
  margin: auto;
  padding: 50px 0;
}

.swiper {
  overflow: visible;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
  padding-top: 4rem;
}

.slide-item {
  width: 100%;
  height: 60vh;
  /* transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; */
  cursor: pointer;
  /* transform: scale(0.8); */
  /* opacity: 0.6; */
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.slide-item img {
  width: 100%;
  /* height: 100%; */
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.slide-item img:hover {
  transform: scale(1.1);
}

.slide-item.active {
  transform: scale(1.2);
  opacity: 1;
}

.top-trending-slider .swiper-slide {
  transition: all 0.3s ease-in-out;
  filter: blur(3px); /* Blur for non-active slides */
  opacity: 0.6; /* Lower opacity */
  transform: scale(0.8); /* Scale down */
}

.top-trending-slider .swiper-slide-active {
  filter: blur(0px); /* Remove blur */
  opacity: 1; /* Full visibility */
  transform: scale(1); /* Scale up the center image */
  z-index: 2;
}

.trending-pulse-effect {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: tooltip-shadow-pulse 5s infinite;
  width: 20px;
  height: 20px;
  background-color: rgba(127, 156, 144, 0.325);
  position: absolute;
  border-radius: 50%;
}

/* Hotspot (Marker) */
.trending-hotspot {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Smooth Pulse Effect */
@keyframes tooltip-shadow-pulse {
  0% {
    transform: scale(1);
    box-shadow: rgba(127, 156, 144, 0.325) 0px 0px 0px 7.05872px;
  }
  50% {
    transform: scale(1.6);
    box-shadow: rgba(127, 156, 144, 0.325) 0px 0px 0px 7.05872px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(127, 156, 144, 0.325) 0px 0px 0px 7.05872px;
  }
}

/* Hotspot Label */
.trending-hotspot-label {
  position: absolute;
  background-color: white;
  color: #000;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  white-space: nowrap;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.trending-hotspot-dot {
  width: 20px;
  height: 20px;
  color: #38373d;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 16px;
  z-index: 1000;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.trending-hotspot-label p {
  font-weight: 100;
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Show label when hotspot is active */
.trending-hotspot.active .trending-hotspot-label {
  opacity: 1;
}

/* Custom Popover Styling */
.custom-popover {
  background-color: #fff;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 200px;
  padding: 5px;
  /* transition: all 0.3s ease-in-out; */
}

/* Popover Header */
.popover-header-custom {
  background: linear-gradient(135deg, #7f9c90, #38373d);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 12px 12px 0 0;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Popover Body */
.popover-body-custom {
  padding: 10px;
  font-size: 14px;
}

/* Popover Item */
.popover-item {
  padding: 8px;
  border-radius: 8px;
  /* transition: background 0.2s ease-in-out; */
}

.popover-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* Popover Icons */
.popover-icon {
  color: #7f9c90;
  font-size: 18px;
  margin-right: 10px;
}

/* Popover Button */
.popover-btn {
  background: linear-gradient(135deg, #7f9c90, #38373d);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  /* transition: background 0.3s ease-in-out; */
}

.popover-btn:hover {
  background: linear-gradient(135deg, #38373d, #7f9c90);
}

/*end marker carousel*/

/* Blog Section Styles */

/* Swiper Slide Styling */
.blog-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Image Wrapper */
.blog-img-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

/* Blog Images */
.blog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.blog-slider .swiper-slide {
  transition: all 0.3s ease-in-out;
  filter: blur(3px); /* Blur for non-active slides */
  opacity: 0.6; /* Lower opacity */
  transform: scale(0.8); /* Scale down */
}

.blog-slider .swiper-slide-active {
  filter: blur(0px); /* Remove blur */
  opacity: 1; /* Full visibility */
  transform: scale(1); /* Scale up the center image */
  z-index: 2;
}
/* Scale-up effect on hover */
.blog-card:hover .blog-img {
  transform: scale(1.1);
}

/* Overlay with Text */
.blog-overlay {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.blog-meta {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}

.blog-meta li {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.blog-title {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 0;
}
.badge {
  background-color: #bb976d;
}

.blog-overlay:hover .blog-title {
  text-decoration: underline; /* Underline title */
}

.blog-overlay:hover .badge {
  background-color: #bb976d;
  color: black;
  text-decoration: none;
}

/*end blog section*/

.product-card {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.product-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  bottom: -100%;
  transition: all 0.4s ease-in-out;
}

.product-card:hover .product-overlay {
  bottom: 0;
}

.scale-hover {
  transition: transform 0.3s ease-in-out;
}

.product-card:hover .scale-hover {
  transform: scale(1.1);
}

.action-buttons {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.product-card:hover .action-buttons {
  opacity: 1;
}
/* Product Card */

/* start video slider */

.video-slider-container {
  width: 98vw;
  margin: auto;
  padding: 40px 0px 60px;
}

.main-slider {
  padding: 60px 0;
}

.swiper-slide {
  text-align: center;
}

.main-slider .swiper-slide {
  transition: all 1s ease;
}

.main-slider .swiper-slide.swiper-slide-active {
  transform: scale(1.4);
}

.main-slider .swiper-slide.swiper-slide-next,
.main-slider .swiper-slide.swiper-slide-prev {
  transform: scale(0.6);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pagination-slider .swiper-slide img {
  max-width: 100%;
  display: block;
  cursor: pointer;
}
.swiper-button-next,
.swiper-button-prev {
  color: #7f9c90 !important; /* Change to your preferred color */
}

/* Optional: Change background or add a border */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px; /* Adjust the size */
}
/* end video slider */
