/* register Page Container */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

/* Main Content Wrapper */
.register-content {
  display: flex;
  overflow: hidden;
  align-items: center;
}

/* Left Side Image */
.register-image {
  width: 60vw;
  overflow: hidden;
  position: relative;
}

.register-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
}

.register-image img:hover {
  transform: scale(1.1);
}
/* Right Side Form */
.register-form {
  width: 40vw;
  padding: 4rem 4rem 0rem;
}

.register-form h2 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
  line-height: 20px;
  font-weight: 700;
  font-family: Laurentian, serif;
}

.register-form p {
  font-size: 14px;
  color: #332f2c;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-family: Laurentian, serif;
}
/* Form Input Styles */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Laurentian, serif;
}

.form-group input {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  letter-spacing: 2px;
  font-family: Laurentian, serif;
}

.btn-primary {
  width: 100%;
  display: inline-block;
  padding: 8px 16px;
  margin-top: 0px;
  border: 1px solid rgb(127, 156, 144);
  background-color: rgb(127, 156, 144);
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  z-index: 1;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: Laurentian, serif;
}

/* Create the hover background effect */
.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.4s ease-in-out;
  z-index: -1;
}

/* On hover, slide background in from the left and change text color */
.btn-primary:hover {
  color: rgb(127, 156, 144);
  border: 1px solid rgb(127, 156, 144);
}

.btn-primary:hover::before {
  transform: translateX(100%);
}

/* Additional Links */
.register-links {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  font-family: Laurentian, serif;
}

.register-links a {
  color: rgb(127, 156, 144);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Laurentian, serif;
}

.register-links a:hover {
  text-decoration: underline;
}
